{% extends 'base.html' %}
{% block content %}


<main>
    <h1>New Plant</h1>

    <form method="post" action="{{ url_for('create') }}">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="variety">Variety:</label>
        <input type="text" id="variety" name="variety" required>

        <label for="photo_url">Photo URL:</label>
        <input type="text" id="photo_url" name="photo_url" required>

        <label for="date_planted">Date Planted:</label>
        <input type="text" id="date_planted" name="date_planted" required>

        <button type="submit">Create Plant</button>
    </form>
</main>

{% endblock content %}